<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--<title><{$rs_systemName.sName}>-主页</title>-->
        <title>CFht主页</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/Default/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/Default/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Default/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Default/css/style2.min.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation" style="background-color:#519abc;border-right: 0px solid #ffffff">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                        <if condition="$rs_admin.aImages eq null">
                            <if condition="$rs_admin.aSex eq 1">
                            <span><img alt="image" class="img-circle" src="__PUBLIC__/Default/img/default_1.jpg" width="80" height="80" /></span>
                            <else/>
                            <span><img alt="image" class="img-circle" src="__PUBLIC__/Default/img/default_2.jpg" width="80" height="80" /></span>
                            </if>
                            <else/>
                        <span><img alt="image" class="img-circle" src="__ROOT__/<{$rs_admin.aImages}>" width="80" height="80" /></span>
                        </if>
                            
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold"><{$aUser}></strong></span>
                                <span class="text-muted text-xs block"><{$powersName}><b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="J_menuItem" href="__APP__/Admin/oneupdate/aId/<{$rs_admin.aId}>/oneId/1">修改资料</a>
                                </li>
                                
                                <li class="divider"></li>
                                <li><a href="__APP__/LoginTrue/ExitLogin">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">主页
                        </div>
                    </li>

                    <if condition="$aPowers eq 0 ">
                    
                    <li>
                        <a href="#">
                           
                            <span class="nav-label" style="margin-left: 20px;">系统管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="__APP__/System/set" data-index="0">系统配置</a>
                            </li>
                            <li><a class="J_menuItem" href="__APP__/Finance/setmoney">规则管理</a></li> 
                            <!--
                            <li>
                            <a class="J_menuItem" href="__APP__/Users/setparameters">会员参数</a></li>
                            <li>
                            

                            <li>
                            <a class="J_menuItem" href="__APP__/Users/userstouzidata">投资数据</a>
                            </li>

                            <li>
                                <a class="J_menuItem" href="__APP__/Bak/index">数据库管理</a>
                            </li>
                            -->
                            
                            <li>
                                <a class="J_menuItem" href="__APP__/Admin/add">添加管理员</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="__APP__/Admin/lists">管理员列表</a>
                            </li>

                            <li>
                                <a class="J_menuItem" href="__APP__/System/systemlog" data-index="0">系统日志</a>
                            </li>
                            
                            <li>
                                <a class="J_menuItem" href="__APP__/System/info" data-index="0">系统简介</a>
                            </li>
                            
                        </ul>

                    </li>
                    </if>
                    <if condition="$aPowers eq 0  OR $aPowers eq 1 ">
                    <li>
                        <a href="#"><span class="nav-label" style="margin-left: 20px;">会员中心</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        <!--
                            <li>
                                <a href="#">等级系列 <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a class="J_menuItem" href="__APP__/Users/addreggrades">添加等级</a></li>
                                    <li><a class="J_menuItem" href="__APP__/Users/reggradeslists">等级列表</a></li>
                                </ul>
                            </li>
                        -->
                            
                                    <li><a class="J_menuItem" href="__APP__/Users/useradd">添加会员</a>
                                    </li>
                                    <li><a class="J_menuItem" href="__APP__/Users/userslists">会员列表</a>
                                    </li>

                        </ul>
                    </li>

                     <li>
                        <a href="#"><span class="nav-label" style="margin-left: 20px;">手续费中心</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                                    <li style="display: none"><a class="J_menuItem" href="__APP__/Users/reviewcode">发放审核</a></li>
                                    <li><a class="J_menuItem" href="__APP__/Users/givecode">直接发放</a></li>
                                    <li style="display: none"><a class="J_menuItem" href="__APP__/Users/regcodelists/st/2">手续费列表</a></li>
                                    <li style="display: none"><a class="J_menuItem" href="__APP__/Users/regcodelists/st/0">未使用手续费</a></li>
                                    <li style="display: none"><a class="J_menuItem" href="__APP__/Users/regcodelists/st/1">已使用手续费</a></li>
                         </ul>
                    </li>

                    </if>
                    <li>
                        <a href="#">
                           
                            <span class="nav-label" style="margin-left: 20px;">交易大厅</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                           
                            <li><a class="J_menuItem" href="__APP__/Assistance/wantinvestlists">未匹配提供援助列表</a></li>
                            <li><a class="J_menuItem" href="__APP__/Assistance/wantuninvestlists">未匹配接受援助列表</a></li>
                            <li><a class="J_menuItem" href="__APP__/Assistance/payinvestlists">全部提供援助</a></li>
                            <li><a class="J_menuItem" href="__APP__/Assistance/unpayinvestlists">全部接受援助</a></li>

                        </ul>
                    </li>
                    <if condition="$aPowers eq 0  OR $aPowers eq 1 ">

                    <li>
                        <a href="#">
                            
                            <span class="nav-label" style="margin-left: 20px;">虚拟中心</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">                       
                            <li><a class="J_menuItem" href="__APP__/Assistance/addinvest">添加提供援助项目</a></li>
                            <li><a class="J_menuItem" href="__APP__/Assistance/adduninvest">添加接受援助项目</a></li>
                        </ul>
                    </li>
                    </if>

                    <li>
                        <a href="#">
                            
                            <span class="nav-label" style="margin-left: 20px;">财务管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="__APP__/Finance/allmoneylogs">财务流水</a></li>
                            <li><a class="J_menuItem" href="__APP__/Statistics/yewu">业务统计</a></li>
                            <li><a class="J_menuItem" href="__APP__/Statistics/caiwu">财务统计</a></li>
                            <li><a class="J_menuItem" href="__APP__/Statistics/zonghe">综合统计</a></li>
                            
                        </ul>
                    </li>

                     <li>
                        <a href="#">
                            <span class="nav-label" style="margin-left: 20px;">公告管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="__APP__/Announcement/add">添加公告</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="__APP__/Announcement/lists">查看公告</a>
                            </li>
                        </ul>
                    </li>

                    
                    <li>
                        <a href="#"><span class="nav-label" style="margin-left: 20px;">留言管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="__APP__/Books/lists/st/0">审核留言</a>
                            </li>
                            <li><a class="J_menuItem" href="__APP__/Books/lists/st/1">留言列表</a>
                            </li>
                        </ul>
                    </li>
                    
                    <if condition="$rs_systemName.sXuanchanMenu eq 1">
                    <li>
                        <a href="#"><span class="nav-label" style="margin-left: 20px;">宣传网管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="__APP__/Zccfset/set">网站配置</a>
                            </li>
                            <li><a class="J_menuItem" href="__APP__/Zccfset/dataset">数据配置</a>
                            </li>
                            <li><a class="J_menuItem" href="__APP__/Zccfset/focusmapadd">添加焦点图</a>
                            </li>
                            <li><a class="J_menuItem" href="__APP__/Zccfset/focusmap">焦点图管理</a>
                            </li>
                            <li><a class="J_menuItem" href="__APP__/Zccfset/info">玩法规则</a>
                            </li>
                            <li><a class="J_menuItem" href="__APP__/Zccfset/lianxi">联系我们</a>
                            </li>
                        </ul>
                    </li>
                    </if>
                    
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
      
        <!--右侧部分结束-->
        <!--右侧边栏开始-->
        <div id="right-sidebar">
            <div class="sidebar-container">

                <ul class="nav nav-tabs navs-3">

                    <li class="active">
                        <a data-toggle="tab" href="#tab-1">
                            <i class="fa fa-gear"></i> 主题
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="sidebar-title">
                            <h3> <i class="fa fa-comments-o"></i> 主题设置</h3>
                            <small><i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
                        </div>
                        <div class="skin-setttings">
                            <div class="title">主题设置</div>
                            <div class="setings-item">
                                <span>收起左侧菜单</span>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                                        <label class="onoffswitch-label" for="collapsemenu">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="setings-item">
                                <span>固定顶部</span>

                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                                        <label class="onoffswitch-label" for="fixednavbar">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="setings-item">
                                <span>
                        固定宽度
                    </span>

                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                                        <label class="onoffswitch-label" for="boxedlayout">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="title">皮肤选择</div>
                            <div class="setings-item default-skin nb">
                                <span class="skin-name ">
                         <a href="#" class="s-skin-0">
                             默认皮肤
                         </a>
                    </span>
                            </div>
                            <div class="setings-item blue-skin nb">
                                <span class="skin-name ">
                        <a href="#" class="s-skin-1">
                            蓝色主题
                        </a>
                    </span>
                            </div>
                            <div class="setings-item yellow-skin nb">
                                <span class="skin-name ">
                        <a href="#" class="s-skin-3">
                            黄色/紫色主题
                        </a>
                    </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--右侧边栏结束-->
       
    </div>
    <script src="__PUBLIC__/Default/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/Default/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/Default/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__PUBLIC__/Default/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__PUBLIC__/Default/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/Default/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="__PUBLIC__/Default/js/contabs.min.js"></script>
    <script src="__PUBLIC__/Default/js/plugins/pace/pace.min.js"></script>
</body>

</html>
