<ul class="w_b big_classification">

	<li class="w_b_f_1 tc">
		<a href="#" onclick="RouterURLWAP('/Assistance/wantinvest/uId/<{$uId}>','',1)">
			<p class="icon_parent"><i class="icon iconfont " style="background-image: url(../../Uploads/mi/legou.svg);height: 28px;width: 28px;"></i></p>
			<p class="font">乐购</p>

		<div class="my_bor"></div></a>
	</li>

	<li class="w_b_f_1 tc">
		<a href="#" onclick="RouterURLWAP('/wap/Assistance/wantuninvest/uId/<{$rs_users.uId}>','',1)" >
			<p class="icon_parent"><i class="icon iconfont" style="background-image: url(../../Uploads/mi/lexiao.svg);height: 25px;width: 25px;"></i></p>
			<p class="font">乐销</p>

			<div class="my_bor"></div></a>
	</li>

	<li class="w_b_f_1 tc">
		<a href="#" onclick="RouterURLWAP('/wap/Assistance/index/uId/<{$uId}>','',1)">
            <p class="icon_parent">
				<i class="icon iconfont " style="background-image: url(../../Uploads/mi/jiaoyiqu.svg);height: 25px;width: 25px;"></i>
			</p>
			<p class="font">交易区</p>

		<div class="my_bor"></div></a>
	</li>
	<li class="w_b_f_1 tc">
		<a href="#" onclick="RouterURL('/wap/Users/zhucechushi/uId/<{$uId}>','',1)">
				<p class="icon_parent"><i class="icon iconfont" style="background-image: url(../../Uploads/mi/zhuceyonghu.svg);height: 28px;width: 28px;"></i></p>
			<p class="font">注册用户</p>
		
		<div class="my_bor"></div></a>
	</li>
</ul>

<div class="blank012"></div>

<ul class="w_b big_classification">
	<li class="w_b_f_1 tc">
		<a href="#" onclick="RouterURL('/wap/Assistance/wantinvestlists/uId/<{$uId}>','',1)">
		<p class="icon_parent"><i class="icon iconfont " style="background-image: url(../../Uploads/mi/wodedingdan.svg);height: 25px;width: 25px;"></i></p>
		<p class="font">我的订单</p>

		<div class="my_bor"></div></a>
	</li>
	<li class="w_b_f_1 tc">
		<a href="#" onclick="RouterURL('/wap/Users/userslists/uId/<{$uId}>/stId/0','',1)">
		<p class="icon_parent"><i class="icon iconfont "  style="background-image: url(../../Uploads/mi/tuanduiguanli.svg);height: 25px;width: 25px;"></i></p>
		<p class="font">团队管理</p>

		<div class="my_bor"></div></a>
	</li>
	<li class="w_b_f_1 tc">
		<a href="#"  onClick="return confirm('正在开发、敬请期待！');">
		<p class="icon_parent"><i class="icon iconfont " style="background-image: url(../../Uploads/mi/VBT.svg);height: 26px;width: 33px;"></i></p>
		<p class="font">VBT</p>

		<div class="my_bor"></div>
		</a>
	</li>
	<li class="w_b_f_1 tc">
		<a href="#" onClick="return confirm('正在开发、敬请期待！');">
		<p class="icon_parent"><i class="icon iconfont " style="background-image: url(../../Uploads/mi/youxizhongxin.svg);height: 26px;width: 27px;"></i></p>
		<p class="font">霸屏手游</p>

		<div class="my_bor"></div></a>
	</li>
</ul>
			
			