
<include file="Public/header"/>
    <?php
    $this->_var['hide_back'] = 1;
    $this->_var['hide_footer'] = 0;
    ?>
<style> body{background-color: #f7f7f7;}</style>
<div class="page" id='{$data.act}'>

    <if condition=" $hide_footer neq 1">
        <nav class="bar bar-tab">
            <a class="tab-item  " href="#" onclick="RouterURLWAP('/wap/index','',1)">
            <i class="icon iconfont">&#xe63f;</i>
            <span class="tab-label">首页</span>
            </a>

            <a class="tab-item " href="#" onclick="RouterURLWAP('/wap/Finance/chushiye/uId/<{$uId}>','',1)">
            <i class="icon iconfont">&#xe63b;</i>
            <span class="tab-label">数据区</span>
            </a>

            <a class="tab-item" href="#"  onClick="return confirm('正在开发、敬请期待！');">
            <i class="icon " style="background-image: url('http://huimingou.com/Uploads/mi/shangcheng2.svg');height: 25px;width: 30px;"></i>
            <span class="tab-label">商城</span>
            </a>

            <a class="tab-item active"  href="#" onclick="RouterURLWAP('/wap/Users/chushiye/uId/<{$uId}>','',1)">
            <i class="icon iconfont">&#xe640;</i>
            <span class="tab-label">我的</span>
            </a>

            </nav>
    </if>

    <div class="content pull-to-refresh-content">

        <!-- 这里是页面内容区 -->
        <header class="bar bar-nav">
            <h1 class='title'>我的</h1>
        </header>
        <div class="content">
            <div class="content-block">
                <p><a  class="button button-fill" onclick="RouterURLWAP('/wap/Users/updateuser/uId/<{$uId}>','',1)">修改资料</a></p>
                <p><a href="#" class="button button-fill button-success" onclick="RouterURLWAP('/wap/Users/updateuserloginpassword/uId/<{$uId}>','',1)">修改登录密码</a></p>
                <p><a href="#" class="button button-fill button-danger" onclick="RouterURLWAP('/wap/Users/updateusersafepassword/uId/<{$uId}>','',1)">修改安全密码</a></p>
                <p><a href="#" class="button button-fill button-warning" onclick="RouterURLWAP('/wap/Books/add','',1)">意见反馈</a></p>
                <p><a href="#" class="button button-fill button-danger" onclick="RouterURLWAP('/wap/Announcement/lists','',1)">公告</a></p>
                <p><a href="#" class="button button-fill button-warning" onclick="RouterURLWAP('/wap/Article/article','',1)">关于平台</a></p>
            </div>
        </div>


        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Default/wap/css/msui/sm/sm.min.css";/>


        <include file="Public/footer"/>


